<div id="inspect">
  <div class="bg-info p-2 text-dark bg-opacity-50">
    <h1 class="display-4">
      <b><%= @user.full_name %></b>
    </h1>

    <p class="lead">
      <b>Email: </b><%= @user.email %>
    </p>
    <p class="lead">
      <b>Phone: </b><%= @user.phone %>
    </p>

    <% if @user.is_admin %>
      <p class="lead">
        <b>Status:</b> Admin
      </p>
    <% end %>
    
    <br/>

    <%= link_to "Back", users_path, class:"btn btn-secondary" %>
  </div>
</div>