<footer id="colophon" class="Footer" role="contentinfo">
	<div class="tetriary">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <h3 class="widget-title">Szolgáltatásaink</h3>			
                    <div class="textwidget">
                            <p><a href="/home/authorization">Kutak engedélyezése</a></p>
                            <p><a href="/home/drilling">Kútfúrás</a></p>
                            <p><a href="/home/compensation">Kármentesítés</a></p>
                        <div class="image">
                            <img src="<%= asset_path('Kutfuro_footer.jpg') %>" title="kútfúró" width="300">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3 class="widget-title">Oldalak</h3>
                    <p><a href="/home/about">Bányai Kútfúrás</a></p>
                    <p><a href="/home/questions">Kútfúrás GYIK</a></p>
                    <p><a href="/home/references">Referenciák</a></p>
                    <p><a href="/home/price">Árak</a></p>
                    <p><a href="#">Kapcsolat</a></p>
                </div>
                <div class="col">
                    <h3>Amit nem vállalunk …</h3>
                    <p>Kútásás</p>
                    <p>Ásott kutak tisztítása, továbbfúrása</p>
                    <p>Meglévő becsövezett kút mélyítése</p>
                    <p>Kerítésoszlop láb fúrás</p>

                    <p><i>Megértésüket köszönjük.</i></p>
                </div>
                <div class="col">
                    <h3 class="widget-title">Kérdezzen, Hívjon!</h3>
                        <p><b>Bányai Péter</b></p>
                        <p>Víz- és földtani kőzegszakértő</p>
                        <p>OKJ minősített kútfúró</p>
                        <p>Vasi Drill Kft.</p>
                        <p>06 30 365 3878</p>
                        <p><a href="#">info@banyai-kutfuras.hu</a></p>
                        <p><a href="/home/price">Árajánlatkérés</a></p>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="site-info">
        <a href="/" title="Kútfúrás, talajmechanikai fúrás, kúttervezés - Vasi Drill">Minden jog fenntartva ©2012 Kútfúrás - Vasi Drill</a>
        <a> --- </a>
        <a href="#">Adatkezelési tájékoztató</a>
        <a> --- </a>
        <a href="#">Impresszum</a>
    </div>
</footer>