<div class="secondary">
    <h3 class="widget-title">Szolgáltatásaink</h3>
    <ul>
        <li><a href="#">Kutak engedélyezése</a></li>
        <li><a href="#">Kútfúrás</a></li>
        <li><a href="#">Kármentesítés</a></li>
    </ul>
</div>
<div class="secondary">
    <a href="/">
        <div class="image">
            <img src="<%= asset_path('Banyai_kutfuras_logo.jpg') %>" title="kútfúró" width=300>
        </div>
    </a>
</div>
<div class="secondary">
    <h3 class="widget-title">Jó tudni!</h3>
    <ul class="xoxo blogroll">
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0700101.KVV" rel="noopener" title="A vízkútfúrás szakmai követelményeiről, és a felszín alatti vízkészletekbe történő beavatkozásról" target="_blank">A kútfúrás törvényi szabályozásai</a></li>
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99600018.KHV" title="A vízjogi engedélyezési eljáráshoz szükséges kérelemről és mellékleteiről szóló kormányrendelet">Engedélyezési tervek tartalmi követelményei cégeknek</a></li>
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0100201.KOR" title="Az ivóvíz minőségi követelményeiről és az ellenőrzés rendjéről szóló kormányrendelet">Mi minősül ivóvíznek?</a></li>
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99700123.KOR" title="A vízbázisok, a távlati vízbázisok, valamint az ivóvízellátást szolgáló vízilétesítmények védelméről szóló kormányrendelet">Sérülékeny vízbázisok védelme</a></li>
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0500033.KVV" title="A környezetvédelmi, természetvédelmi, valamint a vízügyi hatósági eljárások igazgatási szolgáltatási díjairól">Vízügyi Hatóság eljárási díjai cégeknek</a></li>
    </ul>
</div>
<div class="secondary">
    <h3 class="widget-title">Kútfúrás kisokos - letölthetők</h3>
    <ul class="xoxo blogroll">
        <li><a href="#" title="Rövid összefoglalás a kútfúrás menetéről">Hogyan zajlik a kútfúrás?</a></li>
        <li><a href="#" title="Jegyzős kút adatlap minta">Jegyzős kút adatlap minta</a></li>
        <li><a href="#" title="Milyen részekből áll a professszionálisan működő kút?">Kútszerkezeti terv – megfigyelő kút</a></li>
        <li><a href="#" title="termelőkút kútszerkezeti terve">Kútszerkezeti terv – termelőkút</a></li>
        <li><a href="#" title="Műszaki adatlap minta">Műszaki adatlap minta</a></li>
    </ul>
</div>
