<div class="About">
    <header>
	    <h1>Bányai Kútfúrás</h1>
    </header>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <p>Cégünk 2001 óta vállalja</p>
                <blockquote>
                    <ul>
                        <li><strong>sekély mélységű megfigyelő- és öntözőkutak</strong></li>
                        <li><strong>kármentesítéshez kapcsolódó fúrások</strong></li>
                    </ul>
                </blockquote>
                <p>tervezését és kivitelezését magán és céges partnerei részére.</p>
            </div>
            <div class="col-6">
                <div class="image">
                    <img src="<%= asset_path('Kutfuro_home.jpg') %>" title="kútfúró">
                </div>
            </div>
            <div id="text">
                <p>
                    A Vasi Drill Kft. székhelye Ják, így Vas, Zala és Győr-Moson-Sopron megyében tevékenykedünk, de 
                    <a title="Referenciák" href="#">referenciáink </a>
                    a Dunántúl nagy részéről és az Alföldről is vannak.
                </p>
                <h3>A Bányai Kútfúrás által alkalmazott technológia</h3>
                <p>
                    A fúrásokat géppel végezzük 
                    <strong>száraz, spirálfúrásos technológiá</strong>
                    val.<br>Az 
                    <a title="Öntöző kutak, Ipari víz kutak" href="#">öntöző kutak fúrásá</a>
                    hoz Ø 160 – 200-es PVC-csövet használunk, míg a megfigyelő kutakhoz a megrendelő igényeinek megfelelő méretű és anyagú csövet építünk be.
                </p>
                <p>Fő tevékenységi körünk a <strong>talajvizes monitoring rendszerek komplett megvalósítása, tervezéstől akár az üzemeltetésig</strong>.</p>
                <p>
                    <strong>Földtudományokban és környezetvédelemben jártas, OKJ vízkútfúró minősítéssel rendelkező mérnök kútfúró mester</strong>
                    rel dolgozunk, így a fúrással kapcsolatos munkákat –
                    <strong> tervezéstől a megvalósításig</strong>
                    – gyorsan, nagy szakértelemmel tudjuk elvégezni.
                </p>
                <p><strong>Hívjon bátran, a tanács ingyen van! 06 30 365 3878</strong></p>
                <p>
                    Bányai Péter
                    <br>
                    víz- és földtani kőzeg szakértő, kútfúró mester
                </p>
                <p><a href="/home/CV">Nézze meg szakmai önéletrajzom itt!</a></p>
			</div>
        </div>
    </div>
</div>
