<div class="Authorization">
	<header>
        <h1>Kutak engedélyezése</h1>
        <span class="tags-links">
            <a href="#" rel="tag">Fúrt kút</a>
            , <a href="home/authorization" rel="tag">Kutak engedélyezése</a>
            , <a href="#" rel="tag">Kútlegalizálás</a>
            , <a href="#" rel="tag">Kúttervezés</a>
            , <a href="#" rel="tag">Öntöző kutak</a>
        </span>				
	</header>

    <div class="container">
        <div class="row align-items-start">
		    <h2>Kutak engedélyezésének menetee</h2>
            <p><strong>Kút fennmaradási engedélyezés! Kútlegalizálás! – 6 egyszerű lépésben<br></strong></p>
            <ol>
                <li>Hívja a 06-30/365-3878-as telefonszámot hivatkozzon a honlapunkra a kedvezményes árért.</li>
                <li>Adja meg a kút helyét (település, utca házszám) és a telefonszámát.</li>
                <li>1 napon belül visszahívom és amennyiben a jegyzőnél való engedélyezhetőség fennáll, 1 héten belül, egyeztetett időpontban helyszíni bejárással egybekötve a kút felmérését és a szükséges nyomtatvány kitöltését a helyszínen elvégzem.</li>
                <li>Ezt követően 2-3 napon belül elkészítem a komplett beadványt, melyet személyesen vagy postai úton eljuttatok Önhöz.</li>
                <li>Önnek csak annyi a dolga, hogy az illetékes jegyzőhöz beadja.</li>
                <li>A jegyző egy engedélyt állít ki, melyet megküld Önnek.</li>
            </ol>
            <p>Tudta Ön, hogy …? <strong>Ma Magyarországon minden kút létesítése engedélyköteles.</strong></p>
            <p>
                <a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99600072.KOR" target="_blank" rel="noopener noreferrer">A vízgazdálkodási hatósági jogkör gyakorlásáról szóló 72/1996. (V.22.) Korm. rendelet</a> 
                alapján kutat a jegyző vagy az illetékes Vízügyi Hatóság engedélyével lehet fúrni/fúratni.
            </p>
            <p>
                Magánszemélyek házi vízigényének (öntözés, locsolás) kielégítésére szolgáló kút fúrásához a jegyző ad engedélyt.<br>
                <a href="http://www.banyai-kutfuras.hu/kuttervezes/jegyzoi-engedely-megszerzese-locslokut-furasahoz/">Jegyzői engedély megszerzésének folyamata locsolókút fúrásához</a>
            </p>
            <p>
                A nagyobb volumenű vízkivételek vagy monitoring tevékenységek céljából végzett kútfúrások engedélyező hatósága a Vízügyi Hatóság.<br>
                <a href="http://www.banyai-kutfuras.hu/kutfuras/kutfuras-kof-engedelyezes/">Vízügyi Hatóság engedélyező folyamata</a>
            </p>
    	</div>
	</div>
</div>