<div class="Compensating_wells">
	<header>
        <h1>Megfigyelő kutak, kármentesítő kutak</h1>
	</header>
		
    <div class="container">
        <div class="row align-items-start">
            <p><strong>Megfigyelő kutak, kármentesítő kutak kialakításának munkafázisai:</strong></p>
            <ul>
                <li>Árajánlat</li>
                <li>Kúthelykitűzés, terepszemle, közműegyeztetés</li>
                <li>Felvonulás</li>
                <li>Fúrás Ø 200 mm spirállal az előirányzott mélységig</li>
                <li>Spirálok kihúzása</li>
                <li>Béléscső beépítése</li>
                <li>A csőben lévő iszap/kavics eltávolítása</li>
                <li>Szűrő/termelő Ø 110 v. 125 mm KG-PVC cső beépítése</li>
                <li>Kavicsolás</li>
                <li>Tisztító szivattyúzás/kompresszorozás</li>
                <li>Szabványos kútfej kiképzés</li>
                <li>Műszaki adatlap kiállítása</li>
                <li>A kút átadás-átvétele, számlázás</li>
            </ul>
            <p><strong>A megfigyelő valamint a kármentesítő kutak fúrásának lehetséges utómunkálatai (külön megbízás alapján):</strong></p>
            <ul>
                <li>Vízmintavétel</li>
                <li>Geodéziai bemérés</li>
                <li>Hidrodinamikai vizsgálatok</li>
                <li>Rendszeres vízszint-, vízminőség ellenőrzés</li>
            </ul>
            <p><a title="Öntöző kutak, Ipari víz kutak" href="/home/indastrial_wells">Öntöző kutak, ipari víz kutak</a></p>
        </div>
	</div>
</div>
	