<div class="Compensation">
    <header>
		<h1>Kármentesítés</h1>		
	</header>

    <div class="container">
        <div class="row align-items-start">
		    <p><strong>Talajmechanikai fúrások, bányakutatás, kármentesítéshez kapcsolódó fúrások:</strong></p>
            <ul>
                <li>fúrás Ø 200 mm spirállal</li>
                <li>ideiglenes csövezés Ø 110, 125 vagy 160 mm KG-PVC csővel</li>
                <li>zavart talajmintavétel</li>
                <li>vízmintavétel</li>
            </ul>
            <div class="image">
                <img src="<%= asset_path('Talajmechanikai_furasok.png') %>" class="kutfuras" title="talajmechanikai fúrás" width="350">
            </div>
	    </div>
    </div>
</div>