<div class="CV">
	<header>		
		<h1>Bányai Péter, víz,- és földtani közeg szakértő, kútfúró – szakmai önéletrajz</h1>
	</header>
    
    <div class="container">
        <div class="row align-items-start">
            <table>
                <tbody>
                    <tr>
                        <td>Nevem:</td>
                        <td>Bányai Péter</td>
                    </tr>
                    <tr>
                        <td>Születtem:</td>
                        <td>Komló, 1977. február 15.</td>
                    </tr>
                    <tr>
                        <td>ÉRETTSÉGI:</td>
                        <td>1995 Tatabánya, Szabó József Geológiai Szakközépiskola Környezetvédelmi szak</td>
                    </tr>
                    <tr>
                        <td>DIPLOMA:</td>
                        <td>1998 Baja, Eötvös József Főiskola Műszaki Fakultás Környezetmérnöki szak</td>
                    </tr>
                </tbody>
            </table>

            <h3>Munkahelyeim</h3>
            <p><strong>1998</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nyugat-dunántúli Környezetvédelmi és Vízügyi Igazgatóság, Vízkészletgazdálkodási- és Vízföldtani Csoport</p>
            <p><strong>Szakmai feladatok:</strong></p>
            <ul>
                <li>A közművek, ipari üzemek, mezőgazdasági üzemek és egyéb felszíni- és felszín alatti vízhasználók vízjogi engedélyezési eljárásaiban való szakértői közreműködés</li>
                <li>A termálvizekkel történő gazdálkodás</li>
                <li>Környezetvédelmi, építésügyi engedélyezési eljárásokban vízügyi szakértői közreműködés</li>
                <li>A hulladék és veszélyes hulladék lerakóhelyekkel kapcsolatos szakértői feladatok ellátása</li>
                <li>A bányaüzemek bányászati tevékenységével kapcsolatos felszín alatti vízkészletet érintő szakértői feladatok ellátása</li>
                <li>Az Igazgatóság vízföldtani nyilvántartásának vezetésében, karbantartásában, illetve fejlesztésében</li>
            </ul>
            <p><strong>2000</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;családi vállalkozást alapítottunk, amelyben</p>
            <ul>
                <li>kutak, talajmechanikai fúrások kivitelezését végezzük;</li>
                <li>alvállalkozók bevonásával ill. alvállalkozóként vízügyi, környezetvédelmi és bányászati tervek készítésében működünk közre.</li>
            </ul>
            <h3>Iskolák, Tanfolyamok, Oklevelek, Kamara</h3>
            <p>
                <strong>Szakközépiskola</strong><br>
                1991-1995&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tatabánya, Szabó József Geológiai Szakközépiskola – Környezetvédelmi szak
            </p>
            <p>
                <strong>Főiskola</strong><br>
                1995-1998&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baja, Eötvös József Főiskola – Környezetmérnök<br>
                2016-2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baja, Eötvös József Főiskola – Ár – és Belvízvédelmi szakmérnök
            </p>
            <p>
                <strong>Továbbképzés</strong><br>
                OKJ Vízkútfúró szakképesítés: CXB-B009185
            </p>
            <p>
                <strong>Tanfolyamok</strong><br>
                ArcWiev térinformatikai szoftverkezelés<br>
                AutoCAD tervező szoftverkezelés
            </p>
            <p>
                <strong>Kamarai tagság</strong><br>
                Magyar Mérnöki Kamara tagja:&nbsp;&nbsp;&nbsp;&nbsp;18-0667<br>
                Víz,- és földtani közeg szakértő:&nbsp;&nbsp;&nbsp;&nbsp;SZKV-vf 18-0667
            </p>
            <p>Ják, 2017. február 10.</p>
            <p style="text-align: right;">
                /:Bányai Péter:/<br>
                Víz,- és földtani közeg szakértő, kútfúró
            </p>
		</div>
	</div>
</div><p>&nbsp;</p>