<div class="Drilling">
	<header>
		<h1>Kútfúrás</h1>
		<span class="tags-links">
            <a href="#" rel="tag">Bányakutatás</a>
            , <a href="#" rel="tag">Fúrt kút</a>
            , <a href="#" rel="tag">Ipari víz kutak</a>
            , <a href="#" rel="tag">Kármentesítés fúrásai</a>
            , <a href="#" rel="tag">Megfigyelő kutak</a>
            , <a href="#" rel="tag">Öntöző kutak</a>
        </span>
    </header>

    <div class="container">
        <div class="row align-items-start">
		    <p>A<strong> kutak</strong> fúrását géppel végezzük <strong>száraz, spirálfúrásos technológiával maximum 20 m mélységig</strong>.</p>
            <p>A <strong>kútfúró berendezésünk</strong> egy MAN 8.180 alvázon lévő Mobile Drill B-32 típ. (USA) fúrógép, amely teljesen hidraulikus, forgatóasztalos modell.</p>
            <div class="image">
                <img src="<%= asset_path('Kutfuras.jpg') %>" class="kutfuras" title="kútfúrás" width="350">
            </div>
            <p>A kútfúráshoz használt <strong>szerszámaink</strong>:</p>
            <ul>
                <li>Ø 200 – 250 mm spirálok</li>
                <li>Ø 110 – 160 mm iszapolók</li>
                <li>ZIF 50 fúrócsövek</li>
                <li>Kanál/dob fúrók</li>
                <li>Kezelőszerszámok</li>
            </ul>
            <p>Szállítási méret: 2,7 m szélesség * 6,5 m hosszúság * 3,5 m magasság</p>
            <p>
                <strong>Figyelem!</strong> 
                Kérjük, a kútfúrás megrendelésénél vegye figyelembe, hogy 
                <strong>a kútfúrás helyigénye</strong> 
                a munkagép adottságait és a szükséges munkaterület nagysága alapján 
                <strong><br>minimum 3,5 m szélesség * 7,0 m hosszúság * 6,0 m magasság</strong>!
            </p>
            <p>Kútfúrást elsősorban Vas és Zala megyében vállalunk.</p>
            <p><a href="#">Megfigyelő kutak, kármentesítő kutak</a></p>
            <p><a href="#">Öntöző kutak, Ipari víz kutak</a></p>
	    </div>
	</div>
</div>