<div class="home">
    <header>
        <h1>Home</h1>
    </header>
    
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="content">
                    <h2 class="header"><a href="/home/authorization">Kút engedélyezés</a></h2>
                    <p>
                        Magánszemélyek részére olcsón, gyorsan vállaljuk <strong>meglévő kutak engedélyeztetését, legalizálását</strong>. 
                        Ne várjon az utolsó pillanatig, hívjon most!
                        <br>
                        Vas megyében kedvezményesen <strong>már 30.000,- Ft-tól</strong>.
                        <br>
                        Jákiaknak extra kedvezmény!
                    </p>
                    <p><a href="/home/authorization">Kutak engedélyezése</a></p>
                </div>
            </div>
            <div class="col">
                <div class="image">
                    <img src="<%= asset_path('Engedelyezes_home.jpg') %>" title="kúttervezés">
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <div class="content">
                    <h2 class="header"><a href="/home/drilling">Kútfúrás</a></h2>
                    <p>
                        <strong>
                            <a title="Öntöző kutak, Ipari víz kutak" href="/home/indastrial_wells"><strong>Öntöző kutak</strong></a>
                        </strong> 
                        locsoláshoz, 
                        <strong>
                            <a title="Öntöző kutak, Ipari víz kutak" href="/home/indastrial_wells">ipari víz kutak</a>, 
                            <a title="Megfigyelő kutak, kármentesítő kutak" href="/home/compensating_wells">sekélymélységű, termelő- és megfigyelő kutak</a> 
                        </strong>
                        fúrása, létesítése.
                        <br>
                        Hűtővíz, egyéb ipari vízellátás.
                        <br>
                        Bányakutatás, egyéb feltárások készítése.
                    </p>
                    <p>Gyors, szakszerű kivitelezés, rövid határidővel.</p>
                    <p><a href="/home/drilling">Kútfúrás</a></p>
                </div>
            </div>
            <div class="col">
                <div class="image">
                    <img src="<%= asset_path('Locsolas_home.jpg') %>" title="locsolás">
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <div class="content">
                    <h2><a href="/home/compensation">Kármentesítés</a></h2>
                    <p>Kármentesítések kapcsán felmerülő feltárások, termelő- és figyelőkutak kivitelezése</p>
                    <p><a href="/home/compensation">Kármentesítés</a> </p>
                </div>
            </div>
            <div class="col">
                <div class="image">
                    <img src="<%= asset_path('Kutfuro_home.jpg') %>" title="kútfúró">
                </div>
            </div>
        </div>
    </div>
</div>