<div class="Questions">
	<header>
		<h1>Kútfúrás GYIK</h1>
	</header>

    <div class="container">
        <div class="row align-items-start">
			<h3>Önben is felmerülhetnek az alábbi kérdések, ha locsoláshoz, öntözéshez fúrt kutat akar</h3>
            <ol>
                <li>
                    <h5>Milyen mélyre kell fúrni?</h5>
                    <p>
                        A közelítő mélységet elsősorban és általában a legbiztosabban
                        <strong> az adott helyhez közeli kutak mélysége</strong> 
                        adhatja kiegészítve az eddigi tapasztalatainkkal. Adatforrásként felhasználjuk a 
                        <strong>Vízügyi Igazgatóságok Vízföldtani adattárá</strong>
                        t is, ahol rengeteg fúrás adatából következtethetünk az adott helyen fellelhető víz mélységére. 
                        A kút helyének meghatározásához réz-, és egyéb pálcát nem használunk!
                    </p>
                </li>
                <li>
                    <h5>Milyen kútátmérőt tudunk készíteni?</h5>
                    <p>Termelő kút esetében többnyire Ø 200 mm PVC csövet használunk.</p>
                </li>
                <li>
                    <h5>Mikor tudjuk a kútfúrás kivitelezését megkezdeni?</h5>
                    <p>Áprilistól októberig dolgozunk, és a konkrét megrendeléstől számított 2 héten belül meg tudjuk oldani a kivitelezést.</p>
                </li>
                <li>
                    <h5>Mennyibe kerül, és mi van benne az árban?</h5>
                    <p>
                        Az árban benne van a kiszállási díj, a fúrás ára, az anyagár /PVC cső, kavics, szűrőcső, háló …stb./, 
                        a csövezés, a kavicsolás, egy órányi tisztító szivattyúzás és a rengeteg jó tanács! 
                        Ld. még <strong><a title="Árlista" href="/home/price">ÁRAK</a></strong>!
                    </p>
                </li>
                <li>
                    <h5>Kell-e engedély?</h5>
                    <p>
                        Igen kell!<br>
                        Engedélyezéssel kapcsolatosan a 
                        <a title="Kutak tervezése" href="/home/authorization">Kutak tervezése</a> 
                        menüpont alatt talál mindenre kiterjedő leírást.
                    </p>
                </li>
                <li>
                    <h5>Mi lesz, ha nincs víz, ha nincs elég víz?</h5>
                    <p>
                        A probléma természetesen úgy értendő, hogy az általunk használt berendezés mélységkapacitásán (20 m) belül.<br>
                        A fúrás során több okból és különböző fokozatokban jelenhet meg ez a probléma!
                    </p>
                    <p><strong>A probléma főbb okai az alábbiak lehetnek:</strong></p>
                    <ul>
                        <li>
                            A terület földtani adottságai következtében a felső 20 m–en belül nincs megfelelő vízadó réteg;
                        </li>
                        <li>
                            A száraz spirálfúrási eljárással nem fúrható a (II. fúrhatósági fokozatnál) keményebb kőzettípusok jelenléte miatt;
                        </li>
                    </ul>
                    <p>Mindkét esetben – a megrendelővel egyeztetve – új fúrási ponton megkíséreljük a fúrást.</p>
                    <p>
                        Amennyiben a 2. fúráspont is meddőnek bizonyul a fúrást befejezettnek tekintjük és az árképzésünknek megfelelően csak a 
                        <a title="Árak" href="/home/price">felvonulási költség</a>
                        et számoljuk fel.<br>
                        Meddőnek nyilvánítjuk a fúrást, ha várhatóan nem tudunk belőle napi 0,5 m<sup>3</sup> vizet kivenni.
                    </p>
                </li>
            </ol>
            <p><strong><span style="background-color: #ffffff;">További kérdéseivel, kérem, hívjon bizalommal a 06 30 365 3878 mobilszámon.</span></strong></p>
		</div>
    </div>
</div>
        