<div class="VH_auth">
	<header>
		<h1>Kútfúrás engedélyezés a Vízügyi Hatóságnál</h1>
    </header>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-3">
                <div class="image">
                    <img src="<%= asset_path('Csokut_vazlata.png') %>" class="kutfuras" title="csőkút" width="350">
                </div>
            </div>
            <div class="col-9">
		        <h2>A kútfúrás engedélyezés folyamatának fázisai</h2>
                <ol>
                    <li>
                        <p>
                            <strong>Helyismerettel, szakértelemmel és megfelelő jogosultságokkal rendelkező <a href="/home/authorization">kúttervezőt </a>kell keresni!</strong>
                            Ha ezt megtalálta nyugodtan hátradőlhet, sok feladata nem lesz a későbbiekben!<br>
                            Amennyiben nyugodt, gondtalan ügyintézésre vágyik, kérem hívja a 06 30 365 3878-as telefonszámot!
                        </p>
                    </li>
                    <li>
                        <p>
                            Készítünk egy <strong>vízbeszerzési szakvélemény</strong>t, mely rögzíti, hogy az adott helyen mekkora valószínűséggel és milyen mélységtartományban fog rendelkezésre állni a kívánt mennyiségű és minőségű víz. Ha ez megfelelő a megrendelő számára, akkor kezdhető meg az engedélyezési folyamat.
                        </p>
                    </li>
                    <li>
                        <p>
                            A <a href="#" target="_blank">18/1996. (VI. 13.) KHVM rendelet</a> 
                            alapján a Vízügyi Hatóságnál <strong>elindítjuk a vízjogi létesítési engedélyezést</strong>.
                            <br>Az engedély kiadására a 
                            <a href="#" target="_blank">2004. évi CXL. Törvény</a>
                            ben (Ket.) meghatározott <strong>21 nap</strong>os határideje van hiánypótlások nélkül! Felügyelőségenként változó az engedély kiadásának az ideje, de általában 21 napon belül csak nagyon ritka esetben kapja meg az engedélyes az engedélyét. Ezért a hatósági tevékenységért a 
                            <a href="#" target="_blank">33/2005. (XII. 27.) KvVM rendelet 1. sz. melléklet</a>
                            ében meghatározott <strong>igazgatási szolgáltatási díjat kell fizetni</strong>.
                        </p>
                    </li>
                    <li>
                        <p>
                            A vízjogi létesítési engedély jogerőre emelkedése után lehet megkezdeni a <strong>kútfúrás</strong>t az engedélyben rögzített előírások figyelembevételével!
                        </p>
                    </li>
                    <li>
                        <p>
                            A sikeres kútfúrást követően a kivitelező köteles a kútról<strong> Műszaki adatlap</strong>ot vagy <strong>Vízföldtani Napló</strong>t készíteni, a szükséges <strong>vizsgálatok</strong> elvégzésével együtt.
                        </p>
                    </li>
                    <li>
                        <p>
                            A kútfúrás és mellékmunkáinak befejeztével a kivitelező és az építtető köteles <strong>műszaki átadás-átvétel</strong>t tartani a vízjogi létesítési engedélyben szereplő hatóságok ill. szakhatóságok meghívásával.
                        </p>
                    </li>
                    <li>
                        <p>
                            A műszaki átadás-átvételt követő 60 napon belül meg kell kérni a kútra a <strong>vízjogi üzemeltetési engedély</strong>t. A tervező a megvalósult állapotnak megfelelően összeállítja a tervdokumentációt és benyújtja a Vízügyi Hatóságra. Az eljárás ideje és módja ugyanaz, mint a vízjogi létesítési engedélyezés során, csak az<strong> igazgatási szolgáltatási díj</strong> lesz az 80 %-a az előzőnek!
                        </p>
                    </li>
                    <li>
                        <p>
                            A kút üzemeltetésével kapcsolatosan be kell tartani a vízjogi üzemeltetési engedélyben előírtakat. (VKJ bevallás, mérések, adatszolgáltatások …!)
                        </p>
                    </li>
                <ol>
            </div>
        </div>
    </div>
</div>

	