<div class="Watering_well">
	<header>
        <h1>Jegyzői engedély megszerzése locsolókút fúrásához</h1>
	</header>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-3">
                <div class="image">
                    <img src="<%= asset_path('Talajvizes_furt_kut.png') %>" class="kutfuras" title="talajvizes fúrt kút" width="350">
                </div>
            </div>
            <div class="col-9">
                 <p>A locsolókút engedélyezése 2 lépcsőben történik.</p>
                <p> 
                    1. A 
                    <%= link_to @link_1.name, @link_1.link, target: "_blank", rel: "noopener" %>
                    <strong><a href="#" target="_blank">3. melléklet</a> kitöltésével</strong> 
                    és a hozzá tartozó kútszerkezeti rajz, tulajdoni lap, kataszteri helyszínrajz csatolásával 
                    <strong>kérelmezni kell</strong> a jegyzőnél a kútfúrás engedélyezését.
                </p>
                <p>
                    A jegyző saját hatáskörben vagy szakhatóságok bevonásával kiadja a vízjogi létesítési engedélyt.<br>
                    Az engedély kiadására 21 napja van a jegyzőnek, de ez az adott település nagyságával általában arányos. Kis településen néhány nap, nagyvárosban 60 nap.
                </p>
                <p>Az engedély birtokában lehet megkezdeni a kútfúrást!</p>
                <p>2. A kútfúrást követően az építőiparban megszokott <strong>használatbavételi engedély</strong>t kell kérni a jegyzőtől. Ugyanazt az adatlapot kell kitölteni, csak itt már a megvalósult adatokkal.</p>
            </div>
        </div>
    </div>	
</div>