<div id="<%= dom_id order %>">
  <p>
    <strong>Place:</strong>
    <%= order.place %>
  </p>

  <p>
    <strong>Radius:</strong>
    <%= order.radius %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= order.depth %>
  </p>

</div>
