<div id="<%= dom_id order %>">
  <p>
    <strong>Place:</strong>
    <%= order.place %>
  </p>

  <p>
    <strong>Diameter:</strong>
    <%= order.diameter %> mm
  </p>

  <p>
    <strong>Depth:</strong>
    <%= order.depth %> m
  </p>

</div>
