<div class="Add_order align_middle">
  <h1>New order</h1>
  <i>Ez csak egy ajánlatkérésnek számít.</i>

  <%= render "form", order: @order %>

  <br>

  <div>
    <%= link_to "Back to orders", orders_path %>
  </div>
</div>