<div class="Show_order align_middle">
  <%= render @order %>
  <div>
    <%= link_to "Edit this order", edit_order_path(@order) %> |
    <%= link_to "Back to orders", orders_path %>

    <div class="actions">
      <%= button_to "Destroy this order", @order, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
