<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= link.link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= link.description %>
  </p>

</div>
