<div id="<%= dom_id reference %>">
  <p>
    <strong>Year:</strong>
    <%= reference.year %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= reference.project_description %>
  </p>

  <p>
    <strong>Project type:</strong>
    <%= reference.project_type %>
  </p>

</div>
